@import url('https://fonts.googleapis.com/css2?family=Inter&family=Poppins&family=Grandstander&display=swap');

@tailwind utilities;



/* Define font classes manually */
.font-inter {
  font-family: 'Inter', sans-serif;
}

.font-poppins {
  font-family: 'Poppins', sans-serif;
}

.font-grand {
  font-family: 'Grandstander', cursive;
}

.font-gujarati {
  font-family: 'Gujarati Sangam MN', sans-serif;
}
body {
    @apply bg-gradient-to-br from-slate-900 via-blue-900 to-slate-800 min-h-screen min-w-full;
  }
  
@import "tailwindcss";